<div class="game-header__toolbar">
  <button mat-icon-button matTooltip="Leave room" (click)="leaveRoom.emit()">
    <mat-icon>exit_to_app</mat-icon>
  </button>
</div>
<div class="game-header__layout">
  <p class="red">
    <span
      class="player-desc"
      [class.me]="me === red?.userName"
      *ngIf="red?.userName; else waitingPlayer"
      >Red player: {{ red.userName }}</span
    >
  </p>
  <span>
    <ng-container *ngIf="blue?.userName && red?.userName"
      >{{ time }}
    </ng-container>
  </span>
  <p class="blue">
    <span
      class="player-desc"
      [class.me]="me === blue?.userName"
      *ngIf="blue?.userName; else waitingPlayer"
    >
      Blue player: {{ blue.userName }}
    </span>
  </p>
</div>

<ng-template #waitingPlayer>
  <p>Waiting for player...</p>
</ng-template>
