<div>
  <span class="letter" *ngFor="let letter of (slagalicaGameLetters$ | async)">
    {{ letter }}
  </span>
</div>

<hr />

<div>
  <mat-form-field>
    <mat-label>Crveni igrac</mat-label>
    <input
      matInput
      type="text"
      [ngModel]="redPlayerWord$ | async"
      (ngModelChange)="change($event)"
      [disabled]="submitted || (amIBlue$ | async)"
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Plavi igrac</mat-label>
    <input
      matInput
      type="text"
      [ngModel]="bluePlayerWord$ | async"
      (ngModelChange)="change($event)"
      [disabled]="submitted || (amIRed$ | async)"
    />
  </mat-form-field>
</div>

<button mat-raised-button *ngIf="!submitted" (click)="submit()">Potvrdi</button>
