<sla-game *ngIf="(inRoom$ | async); else notInGame"></sla-game>

<ng-template #notInGame>
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Igra dana">
      <div class="sla-spacing-m sla-text-center">
        <button mat-raised-button color="accent" (click)="createGame()">
          Napravi novu igru
        </button>
      </div>
    </mat-tab>
    <mat-tab label="Rezultati igre dana">
      <div class="sla-spacing-m sla-text-center">
        <mat-list>
          <mat-list-item *ngFor="let result of (single$ | async)">
            <h2 matLine>{{ result.player?.userName }} - {{ result.points }}</h2>
          </mat-list-item>
        </mat-list>
      </div>
    </mat-tab>
    <mat-tab label="Tvoje igre sa vise igraca">
      <div class="sla-spacing-m sla-text-center">
        <mat-list>
          <mat-list-item *ngFor="let result of (multi$ | async)">
            <p>
              {{ result.red.userName }} ({{ result.redPoints }}) -
              {{ result.blue.userName }} ({{ result.bluePoints }})
            </p>
          </mat-list-item>
        </mat-list>
      </div>
    </mat-tab>
  </mat-tab-group>
</ng-template>
