<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Registracije">
    <mat-form-field>
      <mat-label>Search...</mat-label>
      <input type="text" matInput [(ngModel)]="query" />
    </mat-form-field>
    <sla-registrations-list
      class="container"
      (reject)="reject($event)"
      (accept)="accept($event)"
      [users]="pendingUsers$ | async | slaSearchUsers: query"
    ></sla-registrations-list>
  </mat-tab>
  <mat-tab label="Igra dana">
    <sla-game-of-the-day-form></sla-game-of-the-day-form>
  </mat-tab>
</mat-tab-group>
