<form [formGroup]="form" (ngSubmit)="submit()">
  <mat-form-field>
    <mat-label>User Name</mat-label>
    <input
      matInput
      type="text"
      formControlName="userName"
      autocomplete="nickname"
    />
    <mat-error>User name is required</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Current Password</mat-label>
    <input
      matInput
      type="password"
      formControlName="currentPassword"
      autocomplete="current-password"
    />
    <mat-error>Current password is required</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>New Password</mat-label>
    <input
      matInput
      type="password"
      formControlName="newPassword"
      autocomplete="new-password"
    />
    <mat-error>New password is required</mat-error>
  </mat-form-field>

  <p *ngIf="errorMessage" class="sla-error">
    {{ errorMessage }}
  </p>

  <button mat-raised-button type="submit">Reset Password</button>
</form>
