<h2 class="sla-text-center" [ngClass]="turnColor$ | async">
  {{ currentStateDescription$ | async }}
</h2>

<p class="sla-text-center">
  <span>Blue: {{ bluePlayerPoints$ | async }}</span> -
  <span>Red: {{ redPlayerPoints$ | async }} </span>
</p>

<div class="grid" *ngIf="(solvedList$ | async) as solvedList">
  <div *ngFor="let group of GROUPS; let groupIndex = index" class="group">
    <p>Group {{ groupIndex | slaGroupLetter }}</p>
    <div>
      <div *ngFor="let hint of HINTS; let tileIndex = index">
        <sla-tile-component
          [tile]="(tilesList$ | async)[groupIndex * 5 + tileIndex]"
          (openTile)="openTile(groupIndex * 5 + tileIndex)"
        ></sla-tile-component>
      </div>
    </div>

    <mat-form-field *ngIf="!solvedList[groupIndex]">
      <mat-label>Group solution</mat-label>
      <input type="text" matInput [(ngModel)]="groupSolutions[groupIndex]" />
      <button
        mat-icon-button
        matSuffix
        (click)="solveGroup(groupIndex)"
        *ngIf="(isInputEnabled$ | async)"
      >
        <mat-icon>spellcheck</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <mat-form-field class="game-solution">
    <mat-label>Game solution</mat-label>
    <input
      type="text"
      matInput
      [ngModel]="gameSolution$ | async"
      (ngModelChange)="changeGameSolution($event)"
    />
    <button
      mat-icon-button
      matSuffix
      (click)="solveGame()"
      *ngIf="(isInputEnabled$ | async)"
    >
      <mat-icon>spellcheck</mat-icon>
    </button>
  </mat-form-field>
</div>
