<mat-tab-group
  *ngIf="!(loggedIn$ | async); else welcomePage"
  mat-align-tabs="center"
  color="accent"
  [selectedIndex]="selectedTab$ | async"
>
  <mat-tab label="Login">
    <sla-login
      class="container"
      (login)="login($event)"
      [pending]="pendingLogin$ | async"
      [errorMessage]="errorLogin$ | async"
    ></sla-login>
  </mat-tab>
  <mat-tab label="Register">
    <sla-registration
      class="container"
      [pending]="pendingRegister$ | async"
      [errorMessage]="errorRegister$ | async"
      (register)="register($event)"
    ></sla-registration>
  </mat-tab>
  <mat-tab label="Reset Password">
    <sla-reset-password
      class="container"
      [pending]="pendingResetPassword$ | async"
      [errorMessage]="errorResetPassword$ | async"
      (resetPassword)="resetPassword($event)"
    ></sla-reset-password>
  </mat-tab>
</mat-tab-group>

<ng-template #welcomePage>
  <mat-card-content class="container">
    <h1>Welcome to Slagalica</h1>

    <p>You are logged in as:</p>

    <mat-card *ngIf="(user$ | async) as user">
      <mat-card-header>
        <mat-card-title
          >{{ user.firstName }} {{ user.lastName }}
        </mat-card-title>
        <mat-card-subtitle
          >{{ user.userName }} {{ user.email }}
        </mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="user.profileImgUrl" alt="Profile photo" />
    </mat-card>
  </mat-card-content>
</ng-template>
