<mat-toolbar>
  <h1>Slagalica</h1>
</mat-toolbar>
<mat-tab-group mat-align-tabs="center" color="accent">
  <mat-tab label="Login">
    <sla-login
      class="container"
      (login)="login($event)"
      [pending]="pendingLogin$ | async"
      [errorMessage]="errorLogin$ | async"
    ></sla-login>
  </mat-tab>
  <mat-tab label="Register">
    <sla-registration
      class="container"
      [pending]="pendingRegister$ | async"
      [errorMessage]="errorRegister$ | async"
      (register)="register($event)"
    ></sla-registration>
  </mat-tab>
  <mat-tab label="Reset Password">
    <sla-reset-password
      class="container"
      [pending]="pendingResetPassword$ | async"
      [errorMessage]="errorResetPassword$ | async"
      (resetPassword)="resetPassword($event)"
    ></sla-reset-password>
  </mat-tab>
</mat-tab-group>
