<ng-container *ngIf="(game$ | async) as game">
  <div>
    <span class="number" *ngFor="let number of game.options">
      {{ number }}
    </span>
  </div>
  <div>
    <h3>Goal is {{ game.goal }}</h3>
  </div>

  <hr />

  <div>
    <mat-form-field>
      <mat-label>Crveni igrac</mat-label>
      <input
        matInput
        type="text"
        [ngModel]="game.red.formula"
        (ngModelChange)="change($event)"
        [disabled]="submitted || (amIBlue$ | async)"
      />
      <span matSuffix>Result={{ game.red.result }}</span>
      <mat-hint *ngIf="game.red.error">{{ game.red.error }}</mat-hint>
      <mat-hint *ngIf="game.red.points">
        Got points {{ game.red.points }}
      </mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Plavi igrac</mat-label>
      <input
        matInput
        type="text"
        [ngModel]="game.blue.formula"
        (ngModelChange)="change($event)"
        [disabled]="submitted || (amIRed$ | async)"
      />
      <span matSuffix>Result={{ game.blue.result }}</span>
      <mat-hint *ngIf="game.blue.error">{{ game.blue.error }}</mat-hint>
      <mat-hint *ngIf="game.blue.points">
        Got points {{ game.blue.points }}
      </mat-hint>
    </mat-form-field>
  </div>

  <button mat-raised-button *ngIf="!submitted" (click)="submit()">
    Potvrdi
  </button>
</ng-container>
