<div class="game-header__toolbar">
  <button mat-icon-button matTooltip="Leave room" (click)="leaveRoom.emit()">
    <mat-icon>exit_to_app</mat-icon>
  </button>
</div>
<div class="game-header__layout">
  <p
    class="blue sla-text-center player-desc"
    [class.me]="me === blue?.userName"
  >
    <span *ngIf="blue?.userName; else waitingPlayer">
      <span>{{ blue.userName }}</span> <br />
      <span>Total points: {{ blue.totalPoints }}</span>
    </span>
  </p>
  <span class="sla-text-center">
    <ng-container *ngIf="blue?.userName && red?.userName"
      >{{ time }}
    </ng-container>
  </span>
  <p class="red sla-text-center player-desc" [class.me]="me === red?.userName">
    <span *ngIf="red?.userName; else waitingPlayer">
      <span>{{ red.userName }}</span
      ><br />
      <span>Total points: {{ red.totalPoints }}</span>
    </span>
  </p>
</div>

<ng-template #waitingPlayer>
  <p>Waiting for player...</p>
</ng-template>
