<div class="grid">
  <div>
    <mat-toolbar>
      <span>Words game</span>
    </mat-toolbar>
    <sla-word-game-form (newWord)="addWord($event)"></sla-word-game-form>
  </div>
  <div>
    <mat-toolbar>
      <span>Spojnica Game</span>
    </mat-toolbar>
    <sla-spojnica-game-form
      (newGame)="addSpojnica($event)"
    ></sla-spojnica-game-form>
  </div>
  <div>
    <mat-toolbar>
      <span>Asocijacija Game</span>
    </mat-toolbar>
    <sla-asocijacija-game-form
      (newGame)="addAsocijacija($event)"
    ></sla-asocijacija-game-form>
  </div>
</div>
