<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Slagalica">
    <sla-word-game-form
      class="container"
      (newWord)="addWord($event)"
    ></sla-word-game-form>
  </mat-tab>
  <mat-tab label="Spojnica">
    <sla-spojnica-game-form
      class="container"
      (newGame)="addSpojnica($event)"
    ></sla-spojnica-game-form>
  </mat-tab>
  <mat-tab label="Asocijacija">
    <sla-asocijacija-game-form
      class="container"
      (newGame)="addAsocijacija($event)"
    ></sla-asocijacija-game-form>
  </mat-tab>
</mat-tab-group>
