<div class="container">
  <hr />
  <h3 class="sla-text-center">{{ description$ | async }}</h3>
  <hr />

  <div class="points sla-text-center">
    <p>{{ bluePoints$ | async }}</p>
    -
    <p>{{ redPoints$ | async }}</p>
  </div>

  <hr />

  <ng-container *ngIf="(isBoardEnabled$ | async)">
    <div [formGroup]="form">
      <div class="grid" formArrayName="sequence">
        <mat-form-field
          *ngFor="let _ of controls; let i = index"
          class="selection"
        >
          <mat-select [formControlName]="i">
            <mat-select-trigger>
              <sla-skocko-img [skocko]="controls[i].value"></sla-skocko-img>
            </mat-select-trigger>
            <mat-option *ngFor="let option of OPTIONS" [value]="option">
              <sla-skocko-img [skocko]="option"></sla-skocko-img>
            </mat-option>
          </mat-select>
          <mat-error>Required.</mat-error>
        </mat-form-field>
      </div>
    </div>
    <button
      class="check-btn"
      mat-raised-button
      color="accent"
      (click)="guess()"
    >
      CHECK
    </button>
  </ng-container>

  <br />

  <sla-skocko-tries
    [tries]="tries$ | async | slaMainPlayerTries"
  ></sla-skocko-tries>

  <hr />

  <sla-skocko-tries
    [tries]="tries$ | async | slaSecondPlayerTries"
  ></sla-skocko-tries>
</div>
