@import "libs/ui/src/lib/styles/core";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
    height: 100vh;
}

.container {
    display: block;
    margin: 0 auto;
    max-width: 1080px;
    padding: 0 16px;
}

.sla-error {
    color: $sla-warn;
}

.mat-tab-body-content {
    padding: 16px;
    min-height: 300px;
}

.blue {
    color: blue;
}

.red {
    color: red;
}
