:host {
    .letters {
        padding: 16px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .letter {
        display: inline-block;
        width: 40px;
        height: 40px;
        border: 1px solid blue;
        text-align: center;
        line-height: 40px;
    }
}
